<div class="skills margin-container">
    <h3 class="custom_title">Skills & Services </h3>
    <div class="skills-content">
        <div class="skills-content_block border_animations_color">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                alt="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg">
            <p>React</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                temporibus accusamus.</p>
            <div class="border"></div>
        </div>
        <div class="skills-content_block border_animations_color">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                alt="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg">
            <p>React</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                temporibus accusamus.</p>
        </div>
        <div class="skills-content_block border_animations_color">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                alt="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg">
            <p>React</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                temporibus accusamus.</p>
        </div>
        <div class="skills-content_block border_animations_color">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
                alt="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg">
            <p>React</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                temporibus accusamus.</p>
        </div>
    </div>

</div>