<div class="lineal-history">
    <div class="lineal-histories 1">
        <div>
            <h3>hola</h3>
            <h4>esto es una prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                esse
                deserunt eius nam! Obcaecati reiciendis consequuntur, sapiente
                qui
                dolorem ipsa veniam velit pariatur quas soluta perspiciatis
                illum
                atque quisquam dolor!</p>
        </div>
    </div>
    <div class="lineal-histories 2">
        <div>
            <h3>hola</h3>
            <h4>esto es una prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                esse
                deserunt eius nam! Obcaecati reiciendis consequuntur, sapiente
                qui
                dolorem ipsa veniam velit pariatur quas soluta perspiciatis
                illum
                atque quisquam dolor!</p>
        </div>
    </div>
    <div class="lineal-histories 3">
        <div>
            <h3>hola</h3>
            <h4>esto es una prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                esse
                deserunt eius nam! Obcaecati reiciendis consequuntur, sapiente
                qui
                dolorem ipsa veniam velit pariatur quas soluta perspiciatis
                illum
                atque quisquam dolor!</p>
        </div>
    </div>
</div>