img {
    width: 4rem;
}

.cubespinner {
    animation: 13s ease-in-out 0s infinite normal none running spincube;
    transform-style: preserve-3d;
    transform-origin: 50px 50px 0px;
    margin-left: calc(50% - 50px);
}

.cubespinner div {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border: 2px solid rgb(30, 30, 37);
    background: rgba(1, 1, 1, 0.4);
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cubespinner {
    .face1 {
        transform: translateZ(50px);
    }

    .cubespinner .face2 {
        transform: rotateY(90deg) translateZ(50px);
    }

    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
    }

    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
    }

    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
    }

    .face6 {
        transform: rotateX(-90deg) translateZ(50px);
    }
}


@keyframes spincube {

    0%,
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    33% {
        transform: rotateY(-90deg) rotateX(90deg);
    }

    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
        transform: rotateX(90deg);
    }
}