<div class="cubespinner">
    <div class="face1"><img
            src="https://lucas-lima.vercel.app//skills/language/java.svg"
            alt="Java"></div>
    <div class="face2"><img
            src="https://lucas-lima.vercel.app/skills/language/kotlin.svg"
            alt="Kotlin"></div>
    <div class="face3"><img
            src="https://lucas-lima.vercel.app/skills/language/php.svg"
            alt="PHP"></div>
    <div class="face4"><img
            src="https://lucas-lima.vercel.app/skills/language/python.svg"
            alt="Python"></div>
    <div class="face5"><img
            src="https://lucas-lima.vercel.app/skills/database/MongoDB.svg"
            alt="MongoDB"></div>
    <div class="face6"><img
            src="https://lucas-lima.vercel.app/skills/services/awsServices.svg"
            alt="AWS Services"></div>
</div>