<div class="proyects margin-container">
    <h3 class="custom_title">Proyectos</h3>
    <div class="proyects_container">

        <div class="proyects_container-block border_animations_dotted">
            <img
                src="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg"
                alt="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg">
            <p class="proyects_container-block_title">Titulo proyecto</p>
            <p class="proyects_container-block_subtitle">Web-based platform that
                allows users to search, book, and manage car rentals from
                various providers, providing a convenient and efficient solution
                for transportation needs</p>
            <div class="proyects_container-block_languajes">
                <p>#wordpress</p>
                <p>#angular</p>
            </div>
        </div>
        <div class="proyects_container-block border_animations_dotted ">
            <img
                src="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg"
                alt="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg">
            <p class="proyects_container-block_title">Titulo proyecto</p>
            <p class="proyects_container-block_subtitle">Web-based platform that
                allows users to search, book, and manage car rentals from
                various providers, providing a convenient and efficient solution
                for transportation needs</p>
            <div class="proyects_container-block_languajes">
                <p>#wordpress</p>
                <p>#angular</p>
            </div>
        </div>
        <div class="proyects_container-block border_animations_dotted">
            <img
                src="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg"
                alt="https://iamrashy.netlify.app/assets/chopchopwok-222b99b9.jpg">
            <p class="proyects_container-block_title">Titulo proyecto</p>
            <p class="proyects_container-block_subtitle">pequeña descripcion</p>
            <div class="proyects_container-block_languajes">
                <p>#wordpress</p>
                <p>#angular</p>
            </div>
        </div>

    </div>
</div>