<div class="home-slider margin-container">
    <div class="home-slider_text">
        <h1><p>Hola,<br /> Soy <span class="color-primary">Victor Gomez
                    Luque</span> <span class="salutations">👋</span> <br />Y
                Soy
                <span class="color-secondary">fullstack developer 4 años de
                    experiencia profesional.</span></p></h1>
    </div>

    <div class="home-slider_code">
        <div class="button_line"></div>

        <div class="home-slider_code-button">
            <div class="buttons">
                <div class="button red"> </div>
                <div class="button orange"> </div>
                <div class="button blue"> </div>
            </div>
        </div>

        <div class="home-slider_code-text">
            <div>
                <p><span class="color-secondary">Const</span> code <span
                        class="color-secondary">=</span> &#123;</p>
                <p class="sub_code">name: <span
                        class="text-json">'Victor Gomez Luque'</span>,</p>
                <p class="sub_code">age: <span
                        class="color-primary">28</span>,</p>
                <p class="sub_code">skills: <span class="text-json">['React',
                        'NextJS',
                        'Redux', 'Express', 'NestJS
                        ,'MySql', 'MongoDB', 'Docker', 'AWS']</span>,</p>
                <p class="sub_code">proyects: <span
                        class="text-json">['React',
                        'NextJS']</span>,</p>
                <p class="sub_code">Contact: "<a class="text-json"
                        href="mailto:vgomezluque88@gmail.com">vgomezluque88&#64;gmail.com</a>"</p>
                <p>&#125;</p>
            </div>
        </div>
    </div>
</div>