<header class="margin-container">
    <div class="header-container">
        <div class="header_hamburguer" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                <path
                    d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path>
            </svg>
            <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg"
                width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                <path
                    d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
            </svg>
        </div>
        <div class="title">
            <pre>&lt;Victor Gomez<span> Luque/&gt;</span></pre>
        </div>
    </div>

    <ul class="menu" [class.menu-open]="isMenuOpen"
        [class.menu-closing]="isAnimating">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            fill="#000000" viewBox="0 0 256 256" class="close"
            (click)="closeMenu()">
            <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
        </svg>
        <li class="margin-container"><a class="underline nav-li_a"
                [routerLink]="['/']">Home</a></li>
        <li class="margin-container"><a class="underline nav-li_a"
                [routerLink]="['/work']">Work</a></li>
        <li class="margin-container"><a class="underline nav-li_a"
                [routerLink]="['/proyects']">Proyects</a></li>
        <li class="margin-container"><a class="underline nav-li_a"
                [routerLink]="['/about']">About</a></li>
    </ul>
</header>