@import '../../../variable';

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .header-container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .header_hamburguer {
            margin: auto 0px;

            svg {
                width: 20px;
                height: 20px;

                path {
                    fill: var(--white);

                }
            }
        }

        @include desktop {
            svg {
                display: none;
            }
        }
    }

    .title {
        background: linear-gradient(45deg, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        @include desktop {
            font-size: 24px;
        }
    }



    .menu {
        display: none;
        width: 0px;
        overflow: hidden;
        transition: width 1s ease-in-out;



        &.menu-open {
            position: fixed;
            top: 0px;
            left: 0px;
            display: block;
            background-color: var(--dark);
            width: 100%;
            animation: expandir 1s ease-in-out forwards;
            margin: 0px;
            height: 100%;
            z-index: 9999;

            li {
                margin-top: 50px;

                a {
                    font-size: 40px;
                }
            }
        }

        svg {
            position: absolute;
            top: 20px;
            right: 30px;

            path {
                fill: var(--white);
            }
        }

        &.menu-closing {
            width: 0px;
            animation: esconder 1s ease-in-out forwards;

        }

        @include desktop {
            display: flex;
            width: 100%;
            margin: auto;
            justify-content: end;

            svg {
                display: none;
            }

            li {
                margin: 5px 0px !important;
            }
        }

        gap: 40px;

        li {
            text-decoration: none;
            list-style: none;
            margin: auto;

            a {
                text-decoration: none;
                color: var(--primary);

                &:hover {
                    color: var(--secondary);
                }
            }
        }
    }
}

@keyframes expandir {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@keyframes esconder {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}