<header class="margin-container">
    <div class="title">
        <pre>&lt;Victor Gomez<span> Luque/&gt;</span></pre>
    </div>
    <ul>
        <li><a class="underline nav-li_a" [routerLink]="['/']">Home</a></li>
        <li><a class="underline nav-li_a" [routerLink]="['/work']">Work</a></li>
        <li><a class="underline nav-li_a"
                [routerLink]="['/proyects']">Proyects</a></li>
        <li><a class="underline nav-li_a"
                [routerLink]="['/about']">About</a></li>
    </ul>
</header>