<div class="margin-container experience">
    <h4 class="custom_subtitle">What I have done so far</h4>
    <h3 class="custom_title">My Experience.</h3>

    <div class="experience-block">

        <div class="experience-block-content">
            <span><img
                    src="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"
                    alt="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"></span>
            <div class="experience-block-content_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                porro quaerat, accusamus reprehenderit laudantium soluta quae
                consequatur assumenda iure, dolores quam quasi numquam
                doloremque, sint dicta! Ex asperiores sed sint.
            </div>
        </div>
        <div class="experience-block-content">
            <span><img
                    src="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"
                    alt="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"></span>
            <div class="experience-block-content_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                porro quaerat, accusamus reprehenderit laudantium soluta quae
                consequatur assumenda iure, dolores quam quasi numquam
                doloremque, sint dicta! Ex asperiores sed sint.
            </div>
        </div>
        <div class="experience-block-content">
            <span><img
                    src="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"
                    alt="https://iamrashy.netlify.app/assets/octdaily-d62bb823.png"></span>
            <div class="experience-block-content_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                porro quaerat, accusamus reprehenderit laudantium soluta quae
                consequatur assumenda iure, dolores quam quasi numquam
                doloremque, sint dicta! Ex asperiores sed sint.
            </div>
        </div>
    </div>
</div>