@use '../../../index' as *;

footer {
    display: flex;

    @include desktop {

        justify-content: space-between;
    }

    .icons {
        display: flex;

        svg {
            width: 30px;

            path {
                fill: var(--white);
            }
        }
    }
}