/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'variable';

:root {
    --main-bg-color: black;
    --primary: rgb(22, 242, 179);
    --secondary: rgb(236, 72, 153);
    --dark: #1f0533;
    --white: rgb(255, 255, 255);
    --title: rgb(255, 255, 255);
    --substitle: rgb(170, 166, 195);
    --textjson-home: rgb(252, 211, 77);
}



body {
    background-color: var(--dark);
    background: linear-gradient(90deg, rgb(3, 7, 18) 0%, var(--dark) 35%, rgb(6, 5, 5) 100%);
    margin: 0px;
    font-family: Inter, "Inter Fallback";
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.margin-container {
    max-width: 90%;
    margin: auto;
}



@include desktop-1366 {
    .margin-container {
        max-width: 1200px;
    }
}

.custom_title {
    position: relative;
    color: var(--title);
    font-size: 4rem;
    z-index: 1;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.custom_subtitle {
    position: relative;
    color: var(--substitle);
    margin-bottom: 5px;
    text-transform: uppercase;
}



.border_animations_dotted {
    animation: dotted-move 2s infinite;
}

.border_animations_color {
    animation: border-color-change 5s infinite;
}

@keyframes border-color-change {
    0% {
        border-color: var(--white);
    }

    50% {
        border-color: var(--primary);
    }

    100% {
        border-color: var(--white);
    }
}

@keyframes dotted-move {
    0% {
        border-style: dotted;
    }

    50% {
        border-style: dashed;
    }

    100% {
        border-style: dotted;
    }
}