<div class="margin-container experience">
    <h3 class="custom_title">My Experience.</h3>
    <div class="experience-block">
        <div class="experience-block_time">
            <button>
                click
            </button>
            <div class="experience-block_time-text">
                <h3>hola</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quisquam sed dignissimos dicta beatae iusto blanditiis
                    similique iste.</p>
            </div>
        </div>
        <div class="experience-block_time">
            <div class="experience-block_time-icon">

            </div>
            <div class="experience-block_time-text">
                <h3>hola</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quisquam sed dignissimos dicta beatae iusto blanditiis
                    similique iste.</p>
            </div>
        </div>
    </div>
</div>