.experience {
    &-block {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(90deg, transparent 0, transparent 9px, var(--line-color) 10px, var(--line-color) 10px);

        &_time {
            &-text {
                color: var(--white);
            }
        }
    }
}